body{
    background-color:#5352ed;
}
.main{
    max-width: 600px;
    margin-top: 50px;
}
i{
    cursor: pointer;
}
img{
    width: 200px;
    height: 100px;
}
.namescontainer{
    max-width: 150px;
}
.hide{
    display: none !important;
}